.GridNos :root, .GridContac :root {
  --bg-principal: rgb(146, 143, 143);
  --txt-dec: rgb(0, 0, 0);
  --bg-prod: rgba(75, 67, 67, 0.849);
}
.GridNos a, .GridContac a {
  text-decoration: none;
  color: var(--txt-dec);
  font-size: 25px;
  transition: 1s all;
  padding: 10px;
  font-family: "Patua One", cursive;
}
.GridNos h1, .GridContac h1 {
  font-size: 60px;
  font-family: "Teko", sans-serif;
}
.GridNos h2, .GridContac h2 {
  font-size: 45px;
  font-family: "Teko", sans-serif;
}
.GridNos ul, .GridContac ul {
  list-style-type: none;
}
.GridNos p, .GridContac p {
  font-size: 20px;
  font-family: "Hind Madurai", sans-serif;
}
.GridNos li, .GridContac li {
  padding: 10px;
}
.GridNos img, .GridContac img {
  border-radius: 20px;
}
.GridNos Form, .GridContac Form {
  color: black;
  padding: 15px;
  font-size: 20px;
  width: 300px;
  border-radius: 4px;
}

@media (min-width: 1023px) {
  .GridNos .GridBody {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .GridNos header {
    grid-area: header;
  }
  .GridNos main {
    grid-area: main;
  }
  .GridNos footer {
    grid-area: footer;
  }
  .GridNos .Encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .GridNos .Pie {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
  }
  .GridNos .MainNos {
    display: grid;
    grid-template-areas: "TitlNos TitlNos TitlNos TitlNos TitlNos TitlNos" "ImgTxtNos1 ImgTxtNos1 ImgTxtNos1 ImgTxtNos2 ImgTxtNos2 ImgTxtNos2" "ImgTxtNos3 ImgTxtNos3 ImgTxtNos3 ImgTxtNos3 ImgTxtNos3 ImgTxtNos3";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
  }
  .GridNos .MainNos__Titl {
    grid-area: TitlNos;
  }
  .GridNos .MainNos__ImgTxt1 {
    grid-area: ImgTxtNos1;
  }
  .GridNos .MainNos__ImgTxt2 {
    grid-area: ImgTxtNos2;
  }
  .GridNos .MainNos__ImgTxt3 {
    grid-area: ImgTxtNos3;
  }
  .GridNos .Encabezado__NavI {
    display: flex;
    flex-direction: row;
  }
  .GridNos .Encabezado__NavD {
    display: flex;
    align-items: center;
  }
  .GridNos .MainNos__Titl {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .GridNos .MainNos__ImgTxt1, .GridNos .MainNos__ImgTxt2 {
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin: 20px;
    align-items: center;
  }
  .GridNos .MainNos__ImgTxt3 {
    text-align: center;
  }
  .GridNos .Encabezado__NavI--Flex {
    display: flex;
  }
  .GridNos .MainNos__ImgTxt1--Img {
    width: 100%;
    height: auto;
    padding: 35px;
    border-radius: 45px;
  }
}

@media (max-width: 768px) {
  .GridNos .GridBody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
  }
  .GridNos a {
    font-size: 20px;
  }
  .GridNos h1 {
    font-size: 40px;
  }
  .GridNos .Encabezado {
    display: flex;
    flex-direction: inherit;
    align-items: baseline;
    border-radius: 20px;
    padding: auto;
  }
  .GridNos .Pie {
    display: flex;
    border-radius: 20px;
    margin-top: auto;
    color: whitesmoke;
  }
  .GridNos .Encabezado__NavI--Flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 1px;
  }
  .GridNos .MainNos__ImgTxt1--Img {
    width: 100%;
    height: auto;
  }
  .GridNos .MainNos__ImgTxt2--Img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1023px) {
  .GridContac .GridBody {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .GridContac header {
    grid-area: header;
  }
  .GridContac main {
    grid-area: main;
  }
  .GridContac footer {
    grid-area: footer;
  }
  .GridContac .MainContact {
    display: grid;
    grid-template-areas: "MainContact__Titl MainContact__Titl" "MainContact__Form MainContact__iframe";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .GridContac .MainContact__Titl {
    grid-area: MainContact__Titl;
  }
  .GridContac .MainContact__Form {
    grid-area: MainContact__Form;
  }
  .GridContac .MainContact__iframe {
    grid-area: MainContact__iframe;
  }
  .GridContac .Encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .GridContac .Pie {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 99%;
    color: whitesmoke;
  }
  .GridContac .MainContact {
    align-items: center;
  }
  .GridContac .Encabezado__NavI {
    display: flex;
    flex-direction: row;
  }
  .GridContac .Encabezado__NavD {
    display: flex;
    align-items: center;
  }
  .GridContac .MainContact__Titl {
    text-align: center;
  }
  .GridContac .MainContact__Form {
    padding-left: 20%;
  }
  .GridContac .Encabezado__NavI--Flex {
    display: flex;
  }
  .GridContac .MainContact__Form--Pad {
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .GridContac .MainContact__Form--boton {
    width: 300px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .GridContac .GridBody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
  }
  .GridContac a {
    font-size: 20px;
  }
  .GridContac h1 {
    font-size: 40px;
  }
  .GridContac .Encabezado {
    display: flex;
    flex-direction: inherit;
    align-items: baseline;
    border-radius: 20px;
    padding: auto;
  }
  .GridContac .Pie {
    display: flex;
    border-radius: 20px;
    margin-top: auto;
    color: whitesmoke;
  }
  .GridContac .MainContact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .GridContac x {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 1px;
  }
  .GridContac .MainContact__Form--Pad {
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .GridContac .MainContact__Form--boton {
    width: 300px;
    padding: 15px;
  }
  .GridContac .padding {
    padding-bottom: 10px;
  }
}

.boton, .boton-cuenta, .boton-enviar, .boton-verMas {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: black;
  color: lightgray;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.boton-cuenta {
  padding: 5px;
  margin: 5px;
  height: 45px;
}

.boton-verMas {
  background-color: rgb(105, 105, 173);
  color: black;
}

.boton-enviar {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px;
  margin: 5px;
}

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.518), rgba(0, 0, 0, 0.45), rgba(131, 131, 131, 0.733), lightgray, white);
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(3deg, rgba(0, 0, 0, 0.6446953782) 0%, rgba(85, 81, 81, 0.6446953782) 50%, rgba(251, 251, 251, 0.8211659664) 100%);
}

.image-new {
  border: 0px none rgb(0, 0, 0);
  border-radius: 18px;
  box-shadow: 0px 26px 62px 73px rgba(35, 21, 66, 0.28);
}

.BgNew {
  background: conic-gradient(from 47deg at 40% 50%, rgb(171, 115, 125) 21deg, rgb(189, 170, 170) 57deg, rgba(141, 132, 161, 0.9) 86deg);
  background-blend-mode: normal;
}

.scale {
  transition: all 1s;
}
.scale:hover {
  transform: scale(1.5, 1.5);
}

.hover {
  transition: all 1s;
}
.hover:hover {
  background-color: rgba(39, 37, 37, 0.795);
  color: whitesmoke;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
}

.hoverlink {
  transition: all 1s;
}
.hoverlink:hover {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
