.GridContac{
    @media (max-width:768px){
        .GridBody{
             display: flex;
             flex-direction: column;
             flex-wrap: nowrap;
             min-height: 100vh;}
        a{
             font-size: 20px;
             }
        h1{
             font-size: 40px;
             }
        .Encabezado{
             display: flex;
             flex-direction: inherit;
             align-items: baseline;
             border-radius: 20px;
             padding: auto;
             }
        .Pie{
             display: flex;
             border-radius: 20px;
             margin-top: auto;
             color: whitesmoke;
             }
        .MainContact{
             padding: 20px;
             display: flex;
             flex-direction: column;
             align-items: center;
             }x{
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: center;
             padding: 5px;
             margin: 1px;
             }       
        .MainContact__Form--Pad{
            width: 280px; 
            padding-top: 10px;
            padding-bottom: 10px;
            }
       .MainContact__Form--boton{ 
            width: 300px;
            padding: 15px;
            }
            .padding{
                padding-bottom: 10px;
            }
    }
}